/*new css file for bootstrap assignment, module 6*/

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
.bg-2 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-3 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
  }
.modal-header {
    background-color: #ffffff; /* White */
    color: #555555;
}
.modal-body {
    background-color: #ffffff; /* White */
    color: #555555;
}
h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    font-size: x-large;
}
button, input {
    color: darkslategray;
}
footer {
    padding: 4px;
    background-color: gray;
    color: white;
}

footer p {
    text-align: right;
    margin-top: 9px;
}
a {
    color: darkslategray;
}
.card-text {
    font-weight: bold;
}
#a-1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#row-1 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#row-2 {
    text-align: center;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}
.jumbotron {
    text-align: center;
    text-shadow: black;
}
/*.js-margin {
    margin-left: 35px;
}
/* the animation code */
@keyframes trial {
    from {background-color: lightseagreen;}
    to {background-color: palevioletred;}
}

.feet {
    text-align: center;
    width: 100px;
    height: 50px;
    background-color:lightseagreen;
    animation-name: trial;
    animation-duration: 4s;
    animation-iteration-count: 5;
}
.container-fluid {
    padding: 5px;
}
.tip {
    background-color: #1abc9c;
  }

.tip .tiptext {
    visibility: hidden;
    font-size: medium;
}
.tip:hover .tiptext {
    visibility: visible;
}
.recipe {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.recipe td, .recipe th {
    border: 1px solid #73AD21;
    padding: 8px;
    background-color: cornsilk;
}
.centered { 
    text-align: center; 
    list-style-position:inside;
    color: darkslategray;
    
}