
/* using both custom class, id and element selectors to style html files. */

.custom {
    font-family: sans-serif;
    font-size: small;
    color: blue;
}

.recipe {
    font-family: sans-serif;
    border-collapse: collapse;

}
.recipe td, .recipe th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: cornsilk;
}
.tooltip {
    position: relative;
    height: auto;
    width: fit-content;
    color: black;
    background-color: greenyellow;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: medium;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*adding a css class to a javascript which is adding a new element#/
*/
.jsstyle {
    width: 100%;
    padding: 10px;
    background-color: blanchedalmond;
    color: black;
    font-size: 15px;
    padding-left: 25px;
}
.para2 {padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 25px;
    color: black;
    background-color: cornsilk;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
#para1 {
    text-align: center;
    color: darkcyan;
    font-size: large;
    font-family: sans-serif;
}
#header2 {
    text-align: center;
    border-color: blue;
    font-weight: 100;
}
#orderedlist {
    text-align: center;
    padding-left: 20px;
    font-family: sans-serif;
}
.custom blockquote {
    background-color: cornsilk;
}
.custom img {
    background-color: floralwhite;
}
/* the animation code */
@keyframes trial {
    from {background-color: gold;}
    to {background-color: blueviolet;}
}

footer {
    width: 100px;
    height: 30px;
    background-color:gold;
    animation-name: trial;
    animation-duration: 4s;
    animation-iteration-count: 5;
}

h1 {text-align:center;
     color: blueviolet;
     font-size: x-large;
}
li {text-align: center;
color: blue;
font-style: italic;
font-size: medium;
}

body {padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    color: black;
    background-color: cornsilk;
}

a {color: darkmagenta;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: auto;
}

address {text-align: left;
color: blueviolet;}
