
/* using both custom class, id and element selectors to style html files. */
html {
    scroll-behavior: smooth;
  }
#cover {
    background-image:url(feet_01.jpg);
    border: 5px solid black;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    overflow: visible;
    } 
#journey {
    background-image:url(corn\ on\ the\ cob.JPG);
    border: 5px solid black;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    } 
.custom {
    font-family: sans-serif;
    font-size: small;
    color: darkslategray;
}

.recipe {
    font-family: sans-serif;
    border-collapse: collapse;

}
.recipe td, .recipe th {
    border: 1px solid #73AD21;
    padding: 8px;
    background-color: cornsilk;
}
.tooltip {
    position: relative;
    height: auto;
    width: fit-content;
    color: black;
    background-color: greenyellow;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: medium;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*adding a css class to a javascript which is adding a new element#/
*/
.jsstyle {
    width: 100%;
    padding: 10px;
    background-color: cornsilk;
    color: black;
    font-size: 15px;
    padding-left: 25px;
}
.para2 {padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 25px;
    color: black;
    background-color: cornsilk;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
#para1 {
    text-align: center;
    color: darkslategray;
    font-size: large;
    font-family: sans-serif;
}
#header2 {
    text-align: center;
    border-color:darkslategray;
    font-weight: 100;
}
#orderedlist {
    text-align: center;
    padding-left: 20px;
    font-family: sans-serif;
}
.custom blockquote {
    background-color: cornsilk;
}
.custom img {
    background-color: floralwhite;
}
.nav_bar {
    overflow: hidden;
    position: fixed;
    top: 4px;
    left: 0px;    
}
.nav_bar a {
    display: inline-block;
    padding: 0px 4px;
    font-size: 20px;
}
.numbergenerator {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:darkslategray;
    padding: 10px;
    line-height: 75px;
    background-color: cornsilk;
    border: solid 3px black;
    height: 75px;
    width: 75px;
    margin: auto;
}
/* the animation code */
@keyframes trial {
    from {background-color: gold;}
    to {background-color: blueviolet;}
}

footer {
    width: 100px;
    height: 30px;
    background-color:gold;
    animation-name: trial;
    animation-duration: 4s;
    animation-iteration-count: 5;
}

h1 {text-align:center;
     color:darkslategray;
     font-size: x-large;
}
li {
    list-style-type: none;
    margin: 3vw 3vw;
    font-size: 16px;
    color: darkslategray;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
ul {
    margin: 0;
    padding: 10px;
    display: flex;
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Raleway', sans-serif;
}

/*body {padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    color: black;
    background-color: cornsilk;
}*/

a {color: darkslategray;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: auto;
}

address {text-align: left;
color: darkslategray;}
